body {
  margin: 0; 
}

* {
  box-sizing: border-box;
}

.v--modal-box.v--modal {
  padding: 20px;
}

.ModalHeader {
    margin: 0 0 26px;

    &--withButton {
      display: flex;

      & .ModalHeader__title {
        margin-right: 15px;
      }
    }

    &__title {
      margin: 0;
    }
}

.DefaultForm {
  .hasError {
    margin-top: 5px;
    color: red;
    font-size: 14px;
  }
  &__fieldset {
    padding: 0;
    border: 0;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    &--row {
      flex-direction: row;
      flex-wrap: wrap;

      & .DefaultForm__input {
        flex: 1;
        margin-right: 8px;

        &:first-child {
          margin-right: 0;
        }
      }
      & .DefaultForm__label,
      & label {
        min-width: 100%
      }


    }
  }

  &__label {
    display: block;
    margin-bottom: 2px;
  }
  &__select {
    padding: 8px;
    max-width: 100%;
  }
  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: 0 8px;
    border: 1px solid #ccc;
  }
  &__input {
    height: 35px;
  }
  &__textarea {
    height: 64px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    padding: 8px;
  }
  &__submit {
    width: 160px;
    align-self: flex-end;
  }
}

.Link {
  background: transparent;
  text-decoration: underline;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 15px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: #ef4b25;

  &:hover, &:focus {
    color: #ce4626;
  }

  &:active {
    color: #9a3219;
  }
}